<a [routerLink]="['/user/show/',user.login]">
    <div class="col-xl-12 mb-4">
        <div class="card card-elevation">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img [src]="user.avatar_url" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">{{ user.login }}</p>
                            <p class="text-muted mb-0">Id: {{user.id}}</p>
                        </div>
                    </div>
                    <span class="badge rounded-pill badge-success">Active</span>
                </div>
            </div>
            <div class="card-footer border-0 bg-light p-2 d-flex justify-content-around">
                <a class="btn btn-link m-0 text-reset" href="#" role="button"
                    data-ripple-color="primary"><i class="fa-solid fa-star"></i>{{user.score}}</a>
                <a class="btn btn-link m-0 text-reset" href="#" role="button" data-ripple-color="primary"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
</a>