<header>
  <div class="container">
    <div class="row wp pt-3 px-3">
      <div class="col-12 text-center">
        <img src="./assets/img/dvp.png" class="img-fluid img-dvp" alt="Logo DVP">
      </div>
    </div>
  </div>
</header>
<div class="container">
  
</div>


<div class="text-center mb-4">
  <small class="text-white">POWERED BY&nbsp;&nbsp;</small>
  <a href="https://doublevpartners.com/" target="_blank">
    <img src="./assets/img/dvp.png" class="img-fluid img-dvp" alt="Logo DVP" >
  </a>
</div>
<router-outlet></router-outlet>