.badge-success {
    background-color: #d6f0e0;
    color: #0d6832;
}

.rounded-pill {
    border-radius: 50rem !important;
}

a {
    text-decoration: none;
}



.card-elevation {
    display: block;
    position: relative;
    background-color: #f2f8f9;
    border-radius: 4px;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;

    &:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 1px solid #cccccc;
        background-color: white;
    }

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: #0e4465;
        height: 20px;
        width: 20px;
        border-radius: 32px;
        transform: scale(2);
        transform-origin: 50% 50%;
        transition: transform 0.15s ease-out;
    }

    &:hover:before {
        transform: scale(30.15);
    }
}