@import "node_modules/@costlydeveloper/ngx-awesome-popup/styles/theme";

body {
    background-color: #131313;
    background: -moz-linear-gradient(to bottom, #131313 1%, #0e4669 100%) !important;
    background: -webkit-linear-gradient(to bottom, #131313 1%, #0e4669 100%) !important;
    background: linear-gradient(to bottom, #131313 1%, #0e4669 100%) !important;
}

html {
    min-height: 100%;
}

.img-dvp{
    max-width: 80px;
    max-height: 80px;
}

.font-error {
    color: red;
    font-size: 12px;
}

.wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
}

.form-control:focus {
    border-color: #0e4465;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(22, 137, 190, 0.6);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #0e4465 !important;
}

section {
    background-color: #eee;
}
