body {
    background-color: #131313;
    background: -moz-linear-gradient(to bottom, #131313 1%, #0e4669 100%) !important;
    background: -webkit-linear-gradient(to bottom, #131313 1%, #0e4669 100%) !important;
    background: linear-gradient(to bottom, #131313 1%, #0e4669 100%) !important;
}

html {
    min-height: 100%;
}

.image-dvp {
    position: fixed;
    height: 45px;
    bottom: 15px;
    right: 15px;
}